#####################################################################
# 	Probe
#####################################################################
#[probe]
#pin: EBBCan: PB8
#x_offset: 0
#y_offset: 19.75
#z_offset: 6.42
#speed: 5
#lift_speed: 15
#samples:3
#samples_result: median
#sample_retract_dist: 2.0
#samples_tolerance: 0.006
#samples_tolerance_retries: 5

#####################################################################
# 	QGL
#####################################################################

[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##	MAX (250, 250), (300,300), or (350,350) depending on your printer size
##	to respective belt positions
##	Gantry Corners for 350mm Build
gantry_corners:
	-60,-10
	410,420
##	Probe points
points:
	50,25
	50,275
	300,275
	300,25
#--------------------------------------------------------------------
speed: 500
horizontal_move_z: 20
retries: 5
retry_tolerance: 0.0095
max_adjust: 10