# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCan]
canbus_uuid: 42b6e34cbf62#1add5f75bd7c



[extruder]
#heater_power: 64  
#cooling_fan: fan
filament_diameter: 1.75
#filament_density: 1.20
#filament_heat_capacity: 1.8 
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
#rotation_distance: 5.5914590747 #LGX Lite
#rotation_distance: 22.6501121498	#Bondtech 5mm Drive Gears - CW2
rotation_distance: 46.963 #Galileo 2
##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
gear_ratio: 9:1				#BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 1.0
filament_diameter: 1.75
heater_pin: EBBCan: PB13
##	Validate the following thermistor type to make sure it is correct
sensor_type: PT1000
sensor_pin: EBBCan:PA3
pullup_resistor: 2200
#adc_voltage: 5
#   The ADC comparison voltage (in Volts). The default is 5 volts.
#voltage_offset: 0
min_temp: 0
max_temp: 330
max_power: 1.0
min_extrude_temp: 15
##	Try to keep pressure_advance below 1.0
pressure_advance: 0.03
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040
max_extrude_only_distance: 500.0
max_extrude_cross_section: 30
##	E0 on MOTOR6
##	Make sure to update below for your relevant driver (2208 or 2209)

[tmc2209 extruder]
uart_pin: EBBCan: PA15
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0
    
## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

[fan]
pin: EBBCan: PA1
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
#off_below: 0.10

[heater_fan hotend_fan]
pin: EBBCan: PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
tachometer_pin: ^EBBCan: PB9
tachometer_ppr: 2
tachometer_poll_interval: 0.0009
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

